* {
  line-height: 1.5;
  margin: 0;
  font-family: "Palanquin", sans-serif;

  z-index: inherit;
}

body {
  background-color: #789ebf;
  overflow: scroll;
}

h1 {
  font-family: "Sofia", cursive;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 40px;
  color: #347038;
  text-shadow: 0 0 10px rgb(206, 247, 223);
  position: fixed;
  width: 100vw;
  background-color: #789ebf;

  z-index: 11;
}

.shop {
  display: flex;
  margin-bottom: 150px;
}

.search {
  display: flex;
  margin-left: 50px;
  margin-right: auto;
  width: 170px;
  justify-content: start;
  flex-direction: column;
  background-color: #bf8cb7;
  padding: 1em;
  padding-top: 110px;
  height: fit-content;
  box-shadow: 0 0 50px -40px black;
  position: fixed;

  z-index: 12;
}
.cart {
  margin-right: 50px;
  margin-left: calc(100vw - 250px);
  width: 170px;
  background-color: #bf8cb7;
  padding: 1em;
  padding-top: 110px;
  height: fit-content;
  box-shadow: 0 0 50px -40px black;
  position: fixed;
  z-index: 12;
}
.in-cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0.5em;
  margin-bottom: 0.5em;

  background-color: #d99ed0;
}

.cart svg {
  margin-left: 50px;
  margin-right: 50px;
  width: 70px;
}

.cart h2 {
  text-align: center;
  padding-bottom: 0.25em;
}

.cart h3 {
  text-align: center;
}

.cart-brand {
  grid-column: span 2;
}
.cart-color {
  grid-column: span 1;
}
.cart-size {
  grid-column: span 1;
}
.cart-qty {
  grid-column: span 1;
}
.cart-price {
  grid-column: span 1;
}

.cart button {
  background-color: salmon;
  border: none;
  font-size: 1em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5em;
}

/* .search div {
  display: inline-block;
  padding-bottom: 0.5em;
  border-bottom: solid black 1px;
} */

.brand-option {
  display: inline-block;
  text-align: left;
  width: 150px;
  border: none;
}

.brand-option div {
  text-align: left;
}
.color-option {
  text-align: left;
  width: 150px;
  border: none;
}
.color-option div {
  text-align: left;
}

.size-option {
  display: inline-block;
  text-align: left;
  border: none;
}

.size-option div {
  display: inline-block;
  text-align: left;
  width: 70px;
}

label {
  padding-left: 0.5em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.search h2 {
  line-height: 1;
  vertical-align: middle;
  font-size: 1.5em;
  padding: 0.5em;
}

.shoe-stock {
  margin-top: 150px;
  margin-left: 250px;
  margin-right: 250px;
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #030140;
  min-width: 524px;
}

.shoe-card {
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 150px;
  /* height: 270px; */
  /* background-color: whitesmoke; */
  justify-content: flex-end;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  z-index: 0;
  float: left;
  position: relative;
}

.shoe-card svg {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  z-index: inherit;
}

.brand {
  text-align: center;
}
.colorname {
  text-align: center;
  text-transform: capitalize;
}
.price {
  text-align: center;
}

.light {
  fill: var(--mid);
  filter: brightness(120%);
}

.mid {
  fill: var(--mid);
}

.dark {
  fill: var(--mid);
  filter: brightness(80%);
}

.shoe-card:hover {
  margin-bottom: -110px;
  z-index: 10;

  background-color: snow;
  box-shadow: 0 0 40px -20px black;
  justify-content: flex-start;
  /* margin-top: 30px; */
}
/* .shoe-card:hover::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  position: absolute;
} */

.shoe-card:hover .more {
  display: block;
}

button {
  line-height: 0.8em;
  height: 1.5em;
  vertical-align: middle;
  padding-bottom: 0.25em;
}

.more {
  display: none;
}

.sizes {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sizes button {
  border: none;
  border-radius: 0.25em;
  color: whitesmoke;
}

.out-of-stock {
  background-color: gray;
  position: relative;
}

.out-of-stock::after {
  content: "X";
  top: 0.3em;
  opacity: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: red;
}

.in-stock {
  background-color: teal;
}

/* .in-stock:active {
  background-color: green;
} */

.add-shoe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  background-color: salmon;
  border-radius: 0.2em;
}
