*,
*::before,
*::after {
  margin: 0;
  font-family: 'Palanquin', sans-serif;
  z-index: inherit;
  color: #0e2f33;
  box-sizing: border-box;
}

:root {
  --blue: #32aaba;
  --lightblue: #71bcc6;
  --offwhite: #f4ede8;
  --pink: #e6646e;
}

body {
  background-image: url('background.png');
  background-size: cover;
  overflow: scroll;
}

button {
  line-height: 0.8em;
  height: 1.5em;
  vertical-align: middle;
  padding-bottom: 0.1em;
  cursor: pointer;
}
#logo {
  width: 500px;
  margin-top: 20px;
  margin-left: calc((100vw - 500px) / 2);
  margin-right: auto;
}

.shop {
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}

/* ==== SEARCH ==== */

.search {
  color: #0e2f33;
  display: flex;
  margin-top: -50px;
  grid-column: 1 / span 1;
  justify-content: start;
  flex-direction: column;
  background-color: var(--lightblue);
  border: solid 1em var(--blue);
  padding: 1.5em;
  margin-left: 1em;
  height: fit-content;
  border-radius: 0.1em;
  box-shadow: 0 0 0.1em #342419;
}

.clear-filter,
.filter {
  background-color: var(--pink);
  border: none;
  color: var(--offwhite);
  border-radius: 0.1em;
  font-size: 1em;
  height: 2em;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 0;
  width: 100%;
  box-shadow: 0 0 0.1em #0e2f33;
}

label {
  display: block;
  line-height: 1;
  font-size: 1em;
  height: 1.5em;
  width: 100%;
}

.search h2 {
  line-height: 1.5;
  vertical-align: middle;
  font-size: 1.5em;
}
.search h3 {
  vertical-align: middle;
  padding-top: 1em;
  padding-bottom: 0.35em;
}

.brand-option,
.color-option,
.size-option {
  display: inline-block;
  text-align: left;
  border: none;
}

.not-a-match {
  display: none;
}

.no-matches.shoe-stock {
  visibility: hidden;
  position: relative;
}
.no-matches.shoe-stock::before {
  content: "I'm sorry, we don't have any shoes that match your search.";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: visible;
}

/* ==== CART ==== */
.cart {
  color: #0e2f33;
  margin-right: 1em;
  margin-top: -50px;
  background-color: var(--blue);
  padding: 1em;
  grid-column: 3 / span 1;
  height: fit-content;
  border-radius: 0.1em;
  box-shadow: 0 0 0.1em #342419;
  transition: display 2s;
}

.cart-icon {
  margin-left: 70px;
  margin-right: 70px;
  width: 70px;
}

.in-cart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0.5em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin-bottom: 0.5em;
  background-color: var(--lightblue);
}

.cart h2 {
  text-align: center;
  padding-bottom: 0.25em;
}

.cart h3 {
  text-align: center;
}

.cart-brand {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.cart-color {
  grid-column: 1 / span 1;
  grid-row: 2;
  text-transform: capitalize;
}

.cart-size {
  grid-column: 3 / span 1;
  grid-row: 2;
  justify-self: end;
}

.cart-qty {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
}

.cart-price {
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;
  justify-self: end;
}

.decrease-qty {
  background-color: var(--blue);
  border: none;
  border-radius: 0.1em;
  color: var(--offwhite);
  margin: 0.25em;
  grid-column: 2;
  grid-row: 4;
  font-size: 0.5em;
  width: 2em;
}
.increase-qty {
  background-color: var(--blue);
  border: none;
  border-radius: 0.1em;
  color: var(--offwhite);
  margin: 0.25em;
  grid-column: 2;
  grid-row: 3;
  font-size: 0.5em;
  width: 2em;
  position: relative;
}

.checkout,
.clear-cart {
  background-color: var(--pink);
  border: none;
  color: var(--offwhite);
  border-radius: 0.1em;
  font-size: 1em;
  height: 2em;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 0;
  width: 100%;
  box-shadow: 0 0 0.1em #0e2f33;
  transition: display 2s;
}

.empty-cart {
  display: none;
}

.cart::before {
  visibility: hidden;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #0e2f33;
  display: block;
  text-align: center;
  background-color: var(--blue);
  padding: 1em;
  grid-column: 3 / span 1;
  height: fit-content;
  border-radius: 0.1em;
  box-shadow: 0 0 0.1em #342419;
}

.checked-out-cart.cart {
  visibility: hidden;
}
.checked-out-cart.cart::before {
  content: "Thank you for shopping at Lubabalo's Shoe Emporium!";
  visibility: visible;
}
.cleared-cart.cart {
  visibility: hidden;
}
.cleared-cart.cart::before {
  content: 'Cart successfully cleared!';
  visibility: visible;
}

.delete-item {
  background: none;
  border: none;
  cursor: pointer;
  width: 1.2em;
  grid-column: 3 / span 1;
  grid-row: 1;
  justify-self: end;
  color: var(--offwhite);
}

.increase-qty::before {
  content: 'No more stock available';
  position: absolute;
  top: -0.5em;
  bottom: 0;
  left: 0;
  right: -5em;
  visibility: hidden;
  text-align: left;
  line-height: 1;
  color: red;
}

.no-more.increase-qty {
  visibility: hidden;
}

.no-more.increase-qty::before {
  visibility: visible;
}

/* ==== SHOE STOCK ==== */

.shoe-stock {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  color: #030140;
}

.shoe-card {
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 150px;
  justify-content: flex-end;
  display: inline-flex;
  flex-direction: column;
  z-index: 0;
  float: left;
  position: relative;
}

.shoe-card svg {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  z-index: inherit;
}

.light {
  fill: var(--mid);
  filter: brightness(120%);
}

.mid {
  fill: var(--mid);
}

.dark {
  fill: var(--mid);
  filter: brightness(80%);
}
.brand,
.colorname,
.price {
  text-align: center;
  text-transform: capitalize;
}

.more {
  display: none;
}
.shoe-card:hover {
  margin-bottom: -110px;
  z-index: 10;
  background-color: var(--offwhite);
  justify-content: flex-start;
  border-radius: 0.2em;
  box-shadow: 0 0.1em 0.2em -0.1em #78543a;
}

.shoe-card:hover .more {
  display: block;
}

.sizes {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.out-of-stock {
  background: none;
  position: relative;
  color: #0e2f33;
  z-index: 100;
  border: none;
}

.out-of-stock::before {
  content: 'X';
  top: 0.25em;
  z-index: -1;
  font-size: 1.25em;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: var(--pink);
}

.in-stock {
  border: solid 0.1em var(--blue);
  border-radius: 0.1em;
}

.selected-size {
  background-color: var(--blue);
  box-shadow: 0 0 0.05em #78543a;
}
.stock-level {
  padding: 0.1em;
  text-align: center;
}
.add-shoe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  color: var(--offwhite);
  background-color: var(--pink);
  border-radius: 0.1em;
  box-shadow: 0 0 0.05em #78543a;
}

/* ==== MOBILE LAYOUT ==== */
@media only screen and (max-width: 999px) {
  #logo {
    width: 60vw;
    margin-top: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .shop {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10vw;
    margin-left: 10vw;
  }

  .search {
    display: none;
  }

  .cart {
    display: none;
  }

  .shoe-stock {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    color: #030140;
  }

  .shoe-card {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    display: grid;
    align-items: end;
    grid-template-columns: 70px 1fr 2fr;
    grid-template-rows: repeat(2, auto);
    z-index: 0;
    position: relative;
  }

  .shoe-card svg {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    z-index: inherit;
  }

  .more {
    display: block;
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .brand {
    font-size: 1em;
    grid-column: 1;
    line-height: 1;
  }

  .colorname {
    font-size: 1em;
    grid-row: 1;
    grid-column: 2;
  }

  .price {
    font-size: 1em;
    grid-row: 2;
    grid-column: 2;
  }

  .add-shoe {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    color: var(--offwhite);
    background-color: var(--pink);
    border-radius: 0.1em;
    box-shadow: 0 0 0.05em #78543a;
  }
}
