/* STOCK UPDATE */

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  place-items: center;
  width: 80vw;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  row-gap: 1rem;
  column-gap: 3rem;
}

* {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.stock-logo {
  margin: 25px 50px 0px 50px;
  width: 300px;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.new-product,
.return-to-shop {
  border: none;
  text-transform: uppercase;
  color: var(--offwhite);
  border-radius: 0.1em;
  box-shadow: 0 0 0.2em #342419;
  background-color: var(--pink);
  height: 3em;
  padding: 1em;
}

.confirm {
  position: fixed;
  width: 40rem;
  height: 10rem;
  background-color: var(--lightblue);
  top: 50%;
  left: 50%;
  margin-top: -5rem;
  margin-left: -20rem;
  border-radius: 0.8em;
  box-shadow: 0 0 0.8em -0.4em #342419;
  padding: 2rem;
}

.confirm div {
  text-transform: none;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.proceed,
.cancel {
  border: none;
  text-transform: uppercase;
  color: var(--offwhite);
  border-radius: 0.1em;
  box-shadow: 0 0 0.2em #342419;
  background-color: var(--pink);
  height: 2.5em;
  padding: 1em;
  width: 7.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.products {
  grid-column: span 2;
  background-color: var(--offwhite);
  padding: 1rem;
  border-radius: 0.8em;
  box-shadow: 0 0 0.8em -0.4em #342419;
  margin-bottom: 50px;
}

.update-product:last-child {
  border: none;
  padding-bottom: unset;
  margin-bottom: unset;
}

.update-product {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) repeat(5, 1.5fr) auto auto;
  place-items: center;
  column-gap: 0.7rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: black solid 1px;
  position: relative;
}

.update-product svg {
  grid-column: 1 / 2;
  max-height: 40px;
}

.brand {
  grid-column: 2 / 3;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.size {
  grid-column: span 1;
  text-align: center;

  font-weight: bold;
}

.size label {
  display: inline-block;
  width: auto;
  line-height: 1;
  font-size: 0.8rem;
  height: unset;
}

.size input {
  display: inline-block;
  width: 3.5rem;

  line-height: 0;
  height: unset;
  margin-left: 0.5em;
}

.color {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.price {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  font-size: 0.9rem;
}

.price label {
  width: fit-content;
  margin: 0;
  display: inline-block;
  margin-right: 0.25rem;
  height: unset;
}

.price input {
  width: 3.5rem;
}

.price div {
  display: inline-block;
}

.update-btn,
.save-btn,
.remove-btn {
  grid-column: span 1;
  border: none;
  color: black;
  background-color: var(--lightblue);
  border-radius: 0.1em;
  box-shadow: 0 0 0.05em #78543a;
  line-height: 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-size: 0.7rem;
  height: 2em;
}

.dont-display {
  display: none;
}

.sold-out svg {
  filter: saturate(40%);
}

.sold-out::before {
  content: "sold out";
  position: absolute;
  background-color: #ff2e2e;
  color: white;
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  bottom: 1.1rem;
  left: 0;
  z-index: 1;
  font-size: 0.5rem;
}

/* ==== MOBILE LAYOUT ==== */
@media only screen and (max-width: 999px) {
  #logo {
    width: 60vw;
    margin-top: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .shop {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10vw;
    margin-left: 10vw;
  }

  .search {
    display: none;
  }

  .cart {
    display: none;
  }

  .shoe-stock {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    color: #030140;
  }

  .shoe-card {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    display: grid;
    align-items: end;
    grid-template-columns: 70px 1fr 2fr;
    grid-template-rows: repeat(2, auto);
    z-index: 0;
    position: relative;
  }

  .shoe-card svg {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    z-index: inherit;
  }

  .more {
    display: block;
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .brand {
    font-size: 1em;
    grid-column: 1;
    line-height: 1;
  }

  .colorname {
    font-size: 1em;
    grid-row: 1;
    grid-column: 2;
  }

  .price {
    font-size: 1em;
    grid-row: 2;
    grid-column: 2;
  }

  .add-shoe {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    color: var(--offwhite);
    background-color: var(--pink);
    border-radius: 0.1em;
    box-shadow: 0 0 0.05em #78543a;
  }
}
